body{
    background-color:purple;
}
.form-inputs{
    position:relative;
}
.form-inputs .form-control{
    height:45px; 
}

.form-inputs .form-control:focus{
    box-shadow:none;
    border:1px solid #000;
}

.form-inputs i{
    position:absolute;
    right:10px;
    top:15px;
}

.shop-bag{
    background-color:#000;
    color:#fff;
    height:50px;
    width:50px;
    font-size:25px;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
}

.qty{
    font-size:12px;
}


.card-storeec {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20rem;
    margin: 1rem;
    text-align: center;
    font-family: arial;
    padding: 1rem;
    margin-left: 1rem;
  }
.card-section{
    height: 12rem;
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px; */
    padding: 1rem;
}
.card-section > img {
    width: 60%;
    height: 100%;
    margin: auto;
  display: block;
} 
  .price-storeec {
    color: grey;
    font-size: 22px;
  }
  
  .card-storeec button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card-storeec button:hover {
    opacity: 0.7;
  }

@media screen and (max-width: 800px) {
    .card-storeec {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 18rem;
        margin: 1rem;
        text-align: center;
        font-family: arial;
        /* padding: 1rem; */
      }
      
}

@media screen and (max-width: 600px) {
    .card-storeec {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 16rem;
        margin: 1rem;
        text-align: center;
        font-family: arial;
        /* padding: 1rem; */
      }
}
@media screen and (max-width: 500px) {
    .card-storeec {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 21rem;
        margin: 1rem;
        text-align: center;
        font-family: arial;
        /* padding: 1rem; */
      }
}